@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF !important;
    background: #141414 !important;
    width: 100%;
    height: 100%;
    margin: 0;
}

span{
    font-weight: 1000;
}

a{
    color: #FFFFFF;
    font-size: small;
    text-decoration: none;
}


h4 {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 16px;
    text-align: center;
}

h4:before,h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #FFFFFF;
    margin: auto 5px;
}



.loginPageContaniner{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.loginForm{
    float: left;
    width: 100%;
    padding: 0 10%;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;  
}

.loginForm input, button{
    border-radius: 5px;
    height: 3rem;
    margin: 1vh 0;
}

.loginForm div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loginForm input[type=checkbox]{
    margin-right: .5rem;
    color: #929699;
}

.loginForm h1{
    font-size: 45px;
}









.loginBox{
    border-radius: 10px;
    width: 1083px;
    height: 660px;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: hidden;
    background: #303030;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

#userFieldContainer, #passFieldContainer{
    margin: 10px auto;
    box-sizing: border-box;
    border: 1px solid #8F8F8F;
    border-radius: 8px;
}



#userFieldContainer input{
    outline: none;
    margin: 0;
    border-style: none;
    background: #303030;
    width: 300px;
}

#userIcon, #passIcon{
    height: 3rem;
    width: 40px;
    color: #D1D1D1;
    /*border-radius: 8px 0px 0px 8px;*/
    border-right: 1px solid #8F8F8F;

}

 

#userFieldContainer:focus-within, #userFieldContainer:focus-within #userIcon{
    border-color: white;
    color: white;
}







#passFieldContainer input{
    outline: none;
    margin: 0;
    padding-right: 40px;
    border-style: none;
    background: #303030;
    width: 300px;
}

#passFieldContainer:focus-within, #passFieldContainer:focus-within #passIcon, #passFieldContainer:focus-within #showPassword{
    border-color: white;
    color: white;
}

#labelCheckbox{
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #929699;
}


#showPassword{
    color: #D1D1D1;
    cursor: pointer;
    margin-left: -30px;
    margin-right: 13px;
}

.verticalAlign{
    display: table-cell;
    vertical-align: middle;
}

#loginBtn{
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    border-radius: 8px;
    width: 100px;
    height: 40px;
    border-style: none;
    color: white;
}

#loginBtn:hover{
    background: #7CD235;
    cursor: pointer;
}

#loginBtn:active{
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
}

#loginBtn:focus{
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
}

#loginActionDiv, #anchorDiv{
    width: 340px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}



.carousel img{
    width: 453px;
    height: 660px;
}

#btnContainer{
    display: grid;
    margin: 0 auto;
}

#btnContainer button{
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    padding: 0;
    height: 40px;
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
}

#btnContainer i{
    width: 25px;
    margin-left: 10px;
}

#btnContainer .socialIcon{
    height: 40px;
    padding-right: 7px;
    border-radius: 8px 0px 0px 8px;
}

#btnContainer .txt-btn-social{
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

#fb{
    background: #3B5998;
    border-radius: 8px;
}

#fb .socialIcon{
    background: #263C68;
}

#fb:hover{
    background: #263C68;
}

#fb i{
    border-radius: 8px 0px 0px 8px; 
}

#tw{
    background: #00ACED;
    border-radius: 8px;
}

#tw .socialIcon{
    background: #0695CB;
}

#tw:hover{
    background: #0695CB;
}

#tw i{
    border-radius: 8px 0px 0px 8px;
}

#go{
    background: #C7C7C7;
    border-radius: 8px;
}

#go .socialIcon{
    background: #9D9D9D;
}

#go:hover{
    background: #9D9D9D;
}

#go i{
    border-radius: 8px 0px 0px 8px;
}

@media only screen and (max-width: 1130px) {
    .loginBox{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .loginForm{
        padding: 0;
    }

    .carousel img{
        display: none;
    }

    h1{
        font-size: 8vw;
    }
}

@media only screen and (max-width: 767px){
    #userFieldContainer input{
        width: 210px;
    }

    #passFieldContainer input{
        width: 210px;
    }

    .loginForm h1{
        font-size: 35px;
    }

    #loginActionDiv, #anchorDiv{
        width: 250px;
    }

    h4{
        width: 260px;
    }
    
}






