@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff !important;
  background: #141414 !important;
  width: 100%;
  height: 100%;
  margin: 0;
}

/*----------Customize the finder title----------*/
span {
  font-weight: 800;
}

/*----------set the title----------*/
.loginForm h1 {
  font-size: 45px;
  font-weight: 400;
}

/*----------customize the anchors like remeber me and forgot pass----------*/
a {
  color: #ffffff;
  font-size: small;
  text-decoration: none;
}

/*----------customize the -----or-----*/
h4 {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 16px;
  text-align: center;
}

h4:before,
h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #ffffff;
  margin: auto 5px;
}

/*----------set the loginBox----------*/
.loginPageContaniner {
  display: grid;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.loginBox {
  border-radius: 10px;
  width: 1083px;
  height: 660px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  overflow: hidden;
  background: #303030;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

/*----------set all form items as a column----------*/
.loginForm {
  margin: 0 auto;
  width: 345px;
  float: left;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

/*----------set all div into the form as a row----------*/
.loginForm div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*----------set login inputs/buttons----------*/
.loginForm input,
button {
  border-radius: 5px;
  height: 3rem;
  margin: 1vh 0;
}

/*----------customize user and pass fields----------*/
#userFieldContainer,
#passFieldContainer {
  margin: 7px auto;
  box-sizing: border-box;
  border: 1px solid #8f8f8f;
  border-radius: 8px;
}

#userFieldContainer input {
  outline: none;
  margin: 0;
  border-style: none;
  background: #303030;
  width: 300px;
  color: white;
}

#userIcon,
#passIcon {
  height: 3rem;
  width: 40px;
  color: #d1d1d1;
  border-right: 1px solid #8f8f8f;
}

#showPassword {
  color: #d1d1d1;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 13px;
}

.errorMsg {
  height: 20px;
  align-self: flex-start;
  margin-left: 5px;
  color: red;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
}

#userSvg,
#passSvg {
  fill: #d1d1d1;
}

/*----------customize the user's interaction with user and pass input----------*/
/*
#userFieldContainer:focus-within,
#userFieldContainer:focus-within svg {
  border-color: white;
  color: white;
  fill: white;
}
*/
#passFieldContainer input {
  outline: none;
  margin: 0;
  padding-right: 40px;
  border-style: none;
  background: #303030;
  width: 300px;
  color: white;
}

/*
#passFieldContainer:focus-within,
#passFieldContainer:focus-within #passIcon,
#passFieldContainer:focus-within #showPassword {
  border-color: white;
  color: white;
}
*/

/*-------input autocomplete--------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: #303030;
  -webkit-box-shadow: 0 0 0 30px #303030 inset !important;
  -webkit-text-fill-color: white;
}

/*-----------checkbox-----------------------*/
/* Customize the label (the container) */
.container {
  width: 125px;
  display: block;
  position: relative;
  padding-left: 25px;
  padding-right: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: #929699;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
  background: #303030;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: #7cd235;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input:focus + .checkmark {
  border-color: white;
}

/*----------customize of login btn----------*/
#loginBtn {
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  border-radius: 8px;
  width: 100px;
  height: 40px;
  border-style: none;
  color: white;
}

/*----------login btn user's interaction----------*/
#loginBtn:hover {
  background: #7cd235;
  cursor: pointer;
}

#loginBtn:active {
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
}

#loginBtn:focus {
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
}

/*----------login buttons and anchors containers----------*/
#loginActionDiv,
#anchorDiv {
  width: 340px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#anchorDiv a:hover {
  color: #7cd235;
}

/*----------social net buttons container----------*/
#socialBtnContainer {
  display: grid;
  margin: 0 auto;
}

/*----------social net buttons customization----------*/
#socialBtnContainer button {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0;
  height: 40px;
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
}

#socialBtnContainer i {
  width: 25px;
  margin-left: 10px;
}

#socialBtnContainer .socialIcon {
  height: 40px;
  padding-right: 7px;
  border-radius: 8px 0px 0px 8px;
}

#socialBtnContainer .txt-btn-social {
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

#fb {
  background: #3b5998;
  border-radius: 8px;
}

#fb .socialIcon {
  background: #263c68;
}

#fb:hover {
  background: #263c68;
}

#fb i {
  border-radius: 8px 0px 0px 8px;
}

#tw {
  background: #00aced;
  border-radius: 8px;
}

#tw .socialIcon {
  background: #0695cb;
}

#tw:hover {
  background: #0695cb;
}

#tw i {
  border-radius: 8px 0px 0px 8px;
}

#go {
  background: #c7c7c7;
  border-radius: 8px;
}

#go .socialIcon {
  background: #9d9d9d;
}

#go:hover {
  background: #9d9d9d;
}

#go i {
  border-radius: 8px 0px 0px 8px;
}

#gamesCarousel {
  width: 453px;
}

/*carousel img size*/
.carousel img {
  width: 453px;
  height: 660px;
}

/*----------Responsiveness----------*/

@media only screen and (max-width: 1130px) {
  .loginPageContaniner {
    align-content: initial;
  }
  .loginBox {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .loginForm {
    padding: 0;
  }

  #gamesCarousel {
    display: none;
  }

  h1 {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 767px) {
  #userFieldContainer input {
    width: 210px;
  }

  .loginForm {
    margin: 0 auto;
    width: 255px;
  }

  #passFieldContainer input {
    width: 210px;
  }

  .loginForm h1 {
    font-size: 35px;
  }

  #loginActionDiv,
  #anchorDiv {
    width: 250px;
  }

  h4 {
    width: 260px;
  }
}
