@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");

*,
ul {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  position: relative;
  color: #ffffff;
  background: #141414;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
  margin-right: -5px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: green;
  outline: 1px solid black;
  border-radius: 50px;
  margin-top: 10px;
}
*::-webkit-scrollbar-track {
  color: #141414;
}

*::-webkit-scrollbar-corner {
  border-radius: 50px;
}

button {
  color: #ffffff;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
/*
body{
    color: #FFFFFF !important;
    background: #141414 !important;
    width: 100%;
    height: 100%;
}
*/

/*------Header-------*/
.header {
  overflow: hidden;
  transition: 0.5s;
  height: 120px;
  width: 100%;
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 40px 0;
  justify-content: center;*/
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

hr {
  border: none;
  height: 1px;
  margin: 18px 40px;
}

.logOutBtnSideMenuContainer {
  display: none;
}

.profilePicture {
  height: 45.33px;
  width: 43.87px;
  border-radius: 50%;
  margin-left: 32.32px;
}

.profileMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 165px;
  margin: 0 37.81px;
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#searchBtnMovil {
  display: none;
  border: none;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.logOutBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;

  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.logOutBtnTxt {
  margin-right: 11px;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.sideMenuToggle {
  position: absolute;
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: 40px;
  left: 0px;
  top: 0px;
  margin-top: 40px;
}

.searchContainer {
  width: 362px;
  height: 40px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
}

.searchContainer svg {
  cursor: pointer;
  fill: #a6a6a6;
  margin-right: -30px;
  z-index: 5;
}

.searchContainer input {
  outline: none;
  padding-left: 40px;
  background: #f1f1f1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  margin-top: 34px;
  margin-left: 40px;
  width: 250px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1.74222px;
}

span {
  font-weight: 800;
}
#pageTitleSideMenu {
  position: absolute;
  top: 0;
  display: none;
}

a,
li,
ul {
  list-style-type: none;
  text-decoration: none;
}

#middleSideMenu a,
#bottomSideMenu a {
  margin-left: 10px;
}

a:link {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: white;
}

a:visited {
  color: white;
} /* Visited link    */

a:active {
  color: white;
}

.sideNav {
  z-index: 6;
  height: 100%;
  width: 250px;
  float: left;
  padding-left: 40px;
}

/*
.sideNavOpen {
  background: #151515;
  display: initial !important;
  position: fixed;
  width: 303px;
  box-shadow: 14px 0px 36px 5px rgba(0, 0, 0, 0.62);
  top: 0;
  padding-top: 120px;
}
*/

.sideNavMenu {
  padding: 0;
}

.sideNavMenu ul {
  margin: 15px 0;
}

.importantMenuItem {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
}

#topSideMenu li {
  margin: 10px 0;
}

.sideMenuIconContainer {
  width: 16px;
  height: 15px;
  position: relative;
}

.sideMenuIconContainer img {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

#middleSideMenu li,
#bottomSideMenu li {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

/*----------------------------main-------------------------------------------*/

section ul {
  padding: 0;
  margin: 0;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.mainHeaderTitle {
  margin: 0 10px;
}

/*-----toggle buttons----*/
.toggleGridContainer {
  margin-right: 40px;
}

.gridToggleIcon,
.listToggleIcon {
  margin: 0 12px;
}

.gridToggleBtn,
.listToggleBtn {
  background: #141414;
  border: none;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.mainHeader h2 {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 75px;
}

.mainHeader h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.contentWrapper {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  /*max-height: 100%;
  min-height: 750px;
  height: 750px;*/
  height: calc(100% - 280px);
}

#listContent {
  display: grid;
  grid-template-columns: repeat(3, minmax(333px, 500px));
  gap: 21px;
  grid-auto-rows: minmax(321px, 380px);
}

/*------loading----------*/

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-------------------------------Game Card---------------------------------*/

.btnCard {
  height: 100%;
  width: 100%;
}

.gameCard {
  overflow: hidden;
  position: relative;
  /*width: 333px;*/
  height: 100%;
  background: #303030;
  border-radius: 10px;
  /*margin: 12px;*/
  transition: margin-top 0.5s;
  transition-timing-function: ease;
}

.gameCardDesc {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background: #303030;
  width: 100%;
  margin: 0;
  height: 120px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameCardCover {
  display: block;
  object-fit: cover;
  /*margin-left: auto;
  margin-right: auto;*/
  width: 100%;
  /*width: 363px;
   height: 217.3px; 
  */
  height: 100%;
}

.gameCardData {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameCardData h3 {
  text-align: start;
  /* width: 200px; Agregue esto para que no me rompa el resto de la data!!!!!!*/
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 31px;
  overflow: hidden;
  /*hasta aca va para que no rompa*/
  margin-top: 15px;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
}

.gameCardAtt {
  /*width: 210px; commented to make desc width variable*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gameCardAtt h6 {
  font-style: normal;
  text-align: start;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid #3d3d3d;
  color: #939393;
}

.gameCardAtt h6:nth-child(even) {
  text-align: end;
}

.gameCardIcons {
  margin-left: 20px;
  margin-top: 15px;
  height: 85px;
  /*float: right; commented to make width variable*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

.gameCardIcons img {
  width: 60px;
  height: 13px;
}

.giftBtn {
  border: none;
  position: relative;
  outline: none;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  width: 47px;
  height: 24px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#plusIcon {
  width: 15px;
  height: 15px;
}

#giftIcon {
  width: 16px;
  height: 15px;
}

.cardDescription {
  display: none;
}

.cardListSelected {
  display: grid;
  grid-template-columns: repeat(1, minmax(333px, 696px)) !important;
  grid-auto-rows: minmax(538px, 600px) !important;
}

.gameCardDescListSelected {
  height: 220px;
}

.paragraphListSelected {
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  bottom: 0;
  padding: 0 20px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 95px;
  margin-bottom: 10px;
}

.gameCardAttListSelected {
  grid-template-columns: repeat(4, 1fr);
}

.marg-l-40 {
  margin-left: 40px;
}

.pad-l-40 {
  padding-left: 40px;
}

/*----------------Modal-----------------------------*/

.modalWindow {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #303030;
  z-index: 1000;
  height: 900px;
  width: 1070px;
  overflow-y: hidden;
}

.modalBackground {
  position: absolute;
  width: 100%;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 70%);
  mask-image: linear-gradient(to top, transparent 0%, black 70%);
  border-radius: 10px;
}

.modalBackground img {
  width: 100%;
}

.modalWrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  padding: 34px 91px 65px 100px;
}

.modalContent {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

#closeModalBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.modalData {
  margin-right: 52px;
  width: 468px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modalData h2 {
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
}

.modalPlatformsIcons {
  margin-bottom: 9px;
}

.modalRanking {
  margin-bottom: 32px;
  margin-top: 44px;
}

.modalParagraph {
  font-size: 14px;
  line-height: 19px;
  margin: 32px 0;
}

.modalActionButtons {
  margin-bottom: 32px;
  display: flex;
}

.modalActionButtons button {
  width: 151px;
  height: 50px;
  text-align: left;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);

  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

.modalActionButtons button span {
  size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.modalActionButtons button:first-child {
  width: 125px;
  margin-right: 20px;
  background-color: transparent;
  background: none;
  margin-bottom: 10px;
}

.actionBtnText span {
  white-space: nowrap;
}

.modalCommentsActions {
  grid-row: 2/3;
}

.modalGridData ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modalGridData li {
  margin: 10px 0;
}

.modalGridData h6,
.modalGridData a {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #939393;
}

.modalRanking {
  margin-top: 15px;
}

.modalData h2 {
  margin-bottom: 0;
}

.modalGridData li h6:last-child,
.modalGridData a {
  text-decoration-line: underline;
  color: #ffffff;
}

.modalCommentsActions {
  display: flex;
}

.modalCommentsActions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #515151;
  border-radius: 10px;
  width: 141px;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  border: none;
}

.modalCommentsActions button svg {
  margin-left: 15px;
}

.modalCommentsActions button:first-child {
  margin-right: 24px;
  margin-bottom: 24px;
}

.commentsAndData {
  grid-row: 3/4;
  margin-right: 52px;
  align-self: start;
}

.modalImages {
  grid-column: 2/3;
  grid-row: 1/4;
}

.modalImages ul {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.modalImages li {
  justify-self: center;
  overflow: hidden;
  width: 184px;
  height: 104px;
  margin: 8px 7px;
}

.modalImages li:first-child {
  width: 392px;
  height: 217px;
  grid-column: span 2;
}

.modalImages img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showBackgroundOutsideModal {
  z-index: 15;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.784937);
}

/*----------------Responsiveness--------------------*/

@media screen and (min-width: 768px) {
  .gameCard:hover {
    margin-top: 0;
  }

  .header {
    height: 120px;
  }
}

@media only screen and (max-width: 1290px) {
  .sideNav {
    left: -330px;
    background: #151515;
    position: fixed;
    width: 303px;
    box-shadow: 14px 0px 36px 5px rgb(0 0 0 / 62%);
    top: 0;
    padding-top: 120px;
    transition: 0.5s;
  }

  #listContent {
    /*grid-template-columns: repeat(2, min-content);*/
    grid-template-columns: repeat(2, minmax(333px, 500px));
  }

  #pageTitleSideMenu {
    display: initial;
  }

  .header h1 {
    display: none;
  }

  h1 {
    margin-top: 34px;
    margin-left: 0;
  }

  .sideMenuToggle {
    display: initial;
  }

  .logOutBtn {
    display: none;
  }

  .logOutBtnSideMenuContainer {
    display: initial;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px !important;
  }

  #logOutBtnSideMenu {
    display: flex;
  }

  .logOutBtnTxt {
    font-size: 22px;
    line-height: 30px;
  }

  /*------Modal--------*/

  .modalWrapper {
    margin: 39px 30px 0 30px;
    align-self: center;
  }

  .modalWindow {
    justify-content: center;
    height: calc(100% - 120px);
    width: 100%;
    border-radius: 0;
    margin-top: 120px;
    top: 44%;
  }

  .modalContent {
    display: flex;
    flex-direction: column;
  }

  .modalData {
    grid-column: 1/3;
    margin-right: 168px;
    width: initial;
  }

  .commentsAndData {
    margin-right: 10px;
    grid-row: 3/4;
  }

  .modalGridData li:nth-child(even) {
    margin-left: 51px;
  }

  .modalImages {
    grid-row: 2/4;
    margin-right: 30px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #listContent {
    /*grid-template-columns: repeat(1, min-content);*/
    grid-template-columns: repeat(1, minmax(333px, 500px));
  }

  .contentWrapper {
    margin: 30px 0;
  }

  .searchContainer {
    margin-top: 110px;
  }

  hr {
    display: none;
  }

  .menu {
    display: initial;
  }

  .toggleGridContainer {
    display: none;
  }

  #searchBtnMovil {
    display: initial;
  }

  .logOutBtn {
    display: none;
  }

  .profilePicture {
    display: none;
  }

  .profileMenu {
    width: 50px;
    margin-top: 40px;
  }

  .mainHeader h2 {
    font-size: 45px;
    line-height: 110%;
  }

  .mainHeader h4 {
    font-size: 18px;
  }

  .header {
    height: 104px;
  }

  .gameCard {
    width: 100%;
    /*height: 321px;*/
    position: relative;
  }

  .gameCardData {
    height: 100px;
    width: 280px;
  }

  .gameCardDesc {
    padding-bottom: 10px;
    height: 150px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .gameCardIcons {
    margin-top: 0;
    margin-left: 0;
    width: 280px;
    height: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  /*------Modal--------*/

  .modalWindow {
    margin-top: 104px;
    top: 45%;
    display: flex;
    display: none;
    justify-content: center;
    height: calc(100% - 102px);
  }

  .modalGridData ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .modalData h2 {
    font-size: 40px;
    line-height: 54px;
  }

  .modalData {
    grid-row: 1/2;
    grid-column: 1;
    margin-right: 0;
  }

  .commentsAndData {
    grid-row: 4/5;
    grid-column: 1;
  }

  .modalImages {
    grid-row: 3/4;
    grid-column: 1;
  }

  .modalGridData li:nth-child(even) {
    margin-left: 0;
  }

  .rankingAndActionButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .modalActionButtons {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .modalCommentsActions {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .modalCommentsActions button {
    width: 100%;
  }

  .modalImages li:first-child {
    width: 245px;
    height: 136px;
  }

  .modalImages li {
    width: 115px;
    height: 65px;
  }

  .modalWrapper {
    padding: 0;
    grid-template-columns: 100%;
    justify-items: center;
  }
  .modalActionButtons button {
    width: 108px !important;
  }

  #giftIconCard {
    display: none;
  }

  .modalImages {
    margin: 0;
  }

  .commentsAndData {
    justify-self: start;
  }
}

@media only screen and (max-width: 340px) {
  .gameCard {
    border-radius: 0;
  }
  .searchContainer {
    width: 246px;
  }

  #searchBtn {
    display: none;
  }
  #searchInput {
    padding-left: 10px;
  }
}

/* bootstrap
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
*/
